.cover__subtitle {
    font-style:  normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    width: 360px;
    margin: 0;
}


@media (max-width: 425px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.14;
        width: 75%;
    }
}