.footer__link-item {
    margin-right: 18px;
}

.footer__link-item:last-child {
    margin-right: 0;
    }

@media (max-width: 600px) {
    .footer__link-item {
        margin-bottom: 32px;
        }

    .footer__link-item:last-child {
        margin-bottom: 48px;
        }
}
    