.cover__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    color: rgba(255, 255, 255, 1);
}