.cover__overlay {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    margin: 0 auto;
    width: 92%;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .cover__overlay {
        width: 100%;
    }
}