.lead__caption {
    font-style: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    margin: 8px auto 0;
    text-align: left;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .lead__caption {
        width: 94%;
    }
}

@media (max-width: 425px) {
    .lead__caption {
        width: 90%;
    }
}