.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    margin: 0 0 40px;
}

@media (max-width: 450px) {
    .intro__title {
        font-size: 38px;
        line-height: 1.09;
        width: 80%;
    }
}

@media (max-width: 320px) {
    .intro__title {
        font-size: 35px;
    }
}